@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
.carousel{
	width:1000px;
	height:350px;
	padding:10px;
	border:5px solid #ebebeb;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
  background: white;
  display: block;
    margin: auto;
  align: center;
}
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,900|Roboto:400,900);

body{
  margin:0; 
  color:black;
  position:relative;
  color:#394053;
}

#home {
  width:100%;
  height: 90vh;
  margin:0;
  display: flex;
  align-item:center;
  justify-content:center;
  flex-direction:column;
  position:relative;
}

.title{
  font-weight: 700;
  color: transparent;
  font-size:10em;
  background: url("../img/bg.jpg") repeat;
  background-position: 30% 50%;
  -webkit-background-clip: text;
  position:relative;
  text-align:center;
  line-height:120px;
  letter-spacing: -8px;
  text-transform:uppercase;
  font-family: 'Montserrat', sans-serif;
  animation: 1.5s ease-out 0s 1 fadeIn;
}
.subtitle{
  display: block;
  text-align: center;
  text-transform: uppercase;
  padding-top:10px;
  font-size: 5em;
  color: #303030;
  text-transform:uppercase;
  font-family: 'Raleway', sans-serif;
  animation: 2.5s ease-out 0s 1 fadeIn;
}

#main-nav{
    position: relative;
    top: 0px;
    left: 0px;
    padding: 10px 15px;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, 1.0);
    box-sizing: border-box;
    z-index: 50;
    min-width: 320px;
    display: inline-block;
}


#main-nav nav{
    float: right;
}

#main-nav nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

#main-nav nav ul li{
    list-style: none;
}

#main-nav nav ul li a{
    height: 50px;
    line-height: 30px;
	margin: 0;
    padding: 0 15px;
    color: #303030;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#main-nav nav ul li ul{
    display: none;
}

.menu-toggle{
    color: #12335f;
    float: right;
    line-height: 50px;
    font-size: 1em;
    cursor: pointer;
    display: none;
}

.page_title{
    font-family: Raleway;
    font-size: 35px;
    font-weight: 600;
}

#pro_pic{
    width: 30%;
}

@media (min-width: 1010px) and (max-width: 1305px){
    #main-nav{
        position: relative;
        top: 0px;
        left: 0px;
        padding: 10px 0px;
        width: 100%;
        height: 120px;
        box-sizing: border-box;
        z-index: 6;
    }

    #main-nav nav{
    float: left;
    margin: 5px 30px 0;
    align-content: center;
    }
    
    #pro_pic{
        width: 40%;
    }
    
    .page_title{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 600;
    }

    .image_slider{
        width: 80%;
    }
}

@media (min-width: 475px) and (max-width: 1010px){
    #main-nav{
        padding: 0px;
        height: 75px;
    }
    .menu-toggle{
        position: relative;
        display: inline-flex;
        margin: 0 auto;
        font-size: 30px;
        float: right;
        padding: 25px 20px 0 80%;
    }
    #main-nav nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #ffffff !important;
        top: 75px;
        left: -100%;
        padding: 0;
        transition: 0.5s ease;
    }
    
    #main-nav nav.active
    {
        left: 0;
        position: absolute;
    }
    
    #main-nav nav ul{
        display: block;
        text-align: center;
    }
    #pro_pic{
        width: 40%;
    }
}

@media (min-width: 425px) and (max-width: 475px){
    #main-nav{
        padding: 0 20px;
        height: 75px;
    }
    
    .menu-toggle{
        position: absolute;
        display: inline-flex;
        margin: 0 auto;
        font-size: 30px;
        float: right;
        padding: 25px 30px 0 30px;
    }
    #main-nav nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #ffffff !important;
        top: 75px;
        left: -100%;
        padding: 0;
        transition: 0.5s ease;
    }
    #main-nav nav.active
    {
        left: 0;
        position: absolute;
    }
    
    #main-nav nav ul{
        display: block;
        text-align: center;
    }
    
    #pro_pic{
        width: 40%;
    }
}

@media (min-width: 320px) and (max-width: 425px){
    #home{
        height: 85vh;
    }
    #main-nav{
        padding: 0 20px;
        height: 75px;
    }
    
    .menu-toggle{
        position: absolute;
        display: inline-flex;
        margin: 0 auto;
        font-size: 30px;
        float: right;
        padding: 25px 30px 0 5px;
    }
    #main-nav nav{
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #ffffff !important;
        top: 75px;
        left: -100%;
        padding: 0;
        transition: 0.5s ease;
    }
    #main-nav nav.active
    {
        left: 0;
        position: absolute;
    }
    
    #main-nav nav ul{
        display: block;
        text-align: center;
    }
    
  .title{
      font-weight: 700;
      color: transparent;
      font-size:3em;
      background: url("../img/bg.jpg") repeat;
      background-position: 30% 50%;
      -webkit-background-clip: text;
      position:relative;
      margin-left: auto;
      margin-right: auto;
      margin-top: -100px;
      display: block;
      text-align: center;
      line-height:25px;
      letter-spacing: -8px;
      text-transform:uppercase;
      font-family: 'Montserrat', sans-serif;
      animation: 1.5s ease-out 0s 1 fadeIn;
    }
    
    .subtitle{
      display: block;
      text-align: center;
      text-transform: uppercase;
      position: relative;
      font-size: 2em;
      color: #303030;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      line-height:5px;
      text-transform:uppercase;
      font-family: 'Raleway', sans-serif;
      animation: 2.5s ease-out 0s 1 fadeIn;
    }
    
    #pro_pic{
        width: 60%;
    }
    
    
}
.button-down{
  position:absolute;
  bottom: 30px;
  display:flex;
  justify-content:center;
  width:100%;
  font-size:25px;
}

.button-down div {
  cursor:pointer;
  padding:5px;
  border-radius:50%;
  
}


@media screen and (max-width: 800px){
  .title{
    font-size: 80px;
    line-height: 80px;
  }
}

@keyframes blur-text {
	0% {filter: blur(0px);}
	100% {filter: blur(4px);}
}

@keyframes fadeIn{
    from{opacity:0} to{opacity:1}
}

.image-slider-wrapper{
	overflow: hidden;
}

#image_slider{
	display: block;
    margin: auto;
	position: relative;
	overflow: hidden;
	height: 350px;
	padding:0;
	left:0;
}
#image_slider li{
	position:relative;
	max-width: 100%;
	float:left;
	list-style: none;
	left: 0;
	display: block;
    margin: auto;
}

#wrapper{
	width: 90%;
	max-width: 1100px;
	min-width: 300px;
	margin: 50px auto;
}

#columns{
	/* the column-count property easily splits the content of a div into 3 columns. it's not accepted by most browsers on its own, so it's a good idea to use this with all the appropriate prefixes */
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-webkit-column-fill: auto;
}


.pin{
	display: inline-block;
	background: #FEFEFE;
	border: 1px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	column-break-inside: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	transition: all .2s ease;
	cursor: pointer;
}

.pin img{
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bttom: 15px;
	margin-bottom: 5px;
}

.pin p{
	font-size: 13px;
	font-family: Helvetica, sans-serif;
	color: #333;
	margin: 0;
}

#columns:hover .pin:not(:hover){
	opacity: 0.4;
	}

@media (min-width: 960px){
	#columns{
		-webkit-column-count: 3;
	}
}

@media (min-width: 1100px){
	#columns{
		-webkit-column-count: 3;
	}
}
  ::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
 background-color: #F5F5F5;
 border-radius: 5px;
}
::-webkit-scrollbar
{
 width: 10px;
 background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
 background-color: #AAA;
 border-radius: 10px;
 background-image: -webkit-linear-gradient(90deg,
                                           rgba(0, 0, 0, .2) 25%,
             transparent 25%,
             transparent 50%,
             rgba(0, 0, 0, .2) 50%,
             rgba(0, 0, 0, .2) 75%,
             transparent 75%,
             transparent)
}
